.subjectHeader {
  color: maroon;
  font-family: sans-serif;
}
th {
  font-weight: bold;
  color: darkblue;
  border-style: ridge;
}
table {
  border-style: ridge;
}
td {
    text-align: center;
    border-style: ridge;
}
tr:nth-child(even) {
  background-color: lightyellow;
}
tr:nth-child(odd) {
  background-color: lightblue;
}
li {
  list-style-type: square;
}
.hyperLink:hover {
  background-color: navy;
  color: orange;
  text-decoration: none;
}
blockquote {
  background-color: black;
  color: lightyellow;
}
#checkbox-grid li {
  list-style: none;
}
/* body>ul>li:first-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;

}
body>ul>li:last-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
} */
img {
  /* display: none; */
  width: 190px;
  height: 200px;
  opacity: .3;
  position: absolute;
  down: 70px;
  left: 40px;
  z-index: -1;
}
/* ul#teamRoster>li>ul>li>ol>li:first-child {
  font-weight: bold;
} */
ul#teamRoster ol>li:first-child {
  font-weight: bold;
}
